// Buttons
button,
.button {
    color: black;
    font-weight: bold;
    border-radius: 10rem;
    border: 2px solid white;
    padding: .8rem 2rem;

    &.button-primary {
        background-color: white;
    }
}