@keyframes bounce {
    from {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    to {
        scale: 1;
    }
}

// Buttons
button,
.button {
    color: black;
    font-weight: bold;
    border-radius: 10rem;
    border: 2px solid white;
    padding: .8rem 2rem;
    transition-property: background-color;
    transition-duration: $transition-duration;
    transition-timing-function: ease-in-out;
    display: block;

    &:hover {
        animation: .3s ease-in-out bounce;
    }

    &.button-primary, &:hover {
        background-color: white;
    }
}