// Navbar
nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10rem;
    padding-top: 2rem;

    ul {
        display: flex;
        gap: .5rem;

        li {
            list-style: none;
            cursor: pointer;
            padding: .5rem;

            &:hover a {
                color: black;
            }

            a {
                transition: color $transition-duration;
                color: white;
                text-decoration: none;
                font-weight: bold;
            }

            &:has(ul) {
                position: relative;
                margin-right: 1rem;

                &::after {
                    content: 'v';
                    position: absolute;
                    margin-left: .4rem;
                    transform: scaleX(1.5);
                    color: white;
                    transition: rotate $transition-duration, color $transition-duration;
                }

                &:hover::after {
                    rotate: .5turn;
                    color: black;
                }

                &:hover ul {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }

                // submenu
                ul {
                    margin-top: 1rem;
                    transition-property: visibility, opacity, transform;
                    transition-duration: $transition-duration;
                    transform: translateY(-1rem);
                    position: absolute;
                    display: block;
                    visibility: hidden;
                    opacity: 0;
                    background-color: white;
                    border-radius: 1rem;
                    padding: .5rem;


                    li {
                        transition-property: background-color;
                        border-radius: .5rem;
                        transition-duration: calc($transition-duration * 4);

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.082);
                            transition-duration: $transition-duration;
                        }
                    }
                }
            }
        }
    }
}