@import 'variables';

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background: linear-gradient(45deg, rgb(183, 145, 193), rgb(97, 207, 234), rgb(224, 122, 185));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

}

.logo {
    width: 4rem;
    object-fit: contain;
}

@import 'navbar';
@import 'buttons';